[submodule "argos-experiment-seal"]
	path = argos-experiment-seal
	url = https://github.com/mit-enclaves/tyche-experiment-seal.git
[submodule "argos-monitor"]
	path = argos-monitor
	url = https://github.com/mit-enclaves/argos-monitor.git
[submodule "wolftpm-sys"]
	path = wolftpm-sys
	url = https://github.com/mit-enclaves/wolftpm-sys.git
[submodule "argos-gramine-testbench"]
	path = argos-gramine-testbench
	url = https://github.com/mit-enclaves/argos-gramine-testbench.git
